.d-ltr {
  direction: ltr !important;
}

.d-none {
  display: none !important;
}

.button-error {
  background: #b12222 !important;
  border-color: #b12222 !important;
}

.button-error:hover {
  background: #961313 !important;
  border-color: #961313 !important;
}

.button-success {
  background: #4ab122 !important;
  border-color: #4ab122 !important;
}

.button-success:hover {
  background: #139613 !important;
  border-color: #139613 !important;
}


.border-error {
  border-color: #b12222 !important;
}


.w-100 {
  width: 100%;
}

.ID.column-ID {
  direction: ltr;
}

.zba-row-meta-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 5px 0px;
}

.zba-row-meta-box a {
  text-align: end;
}

.zba-row-meta-box video {
  height: 100px;
}

.zba-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

}